body {
  font-family: Roboto, sans-serif;
  color: white;
  height: 250vh;
  display: flex;
  flex-direction: column;

  margin: 0;
}
.header {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(43, 98, 110, 0.6727065826330532) 59%,
    rgba(0, 212, 255, 1) 100%
  );
  /* background-color: ; */
  display: flex;
  justify-content: space-around;
  /* background-image: url(images/1820567.jpg); */
}
.logo {
  font-weight: 900;
  color: white;
  font-size: 48px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2px;
  padding: 2px 64px;
  flex: 1;
  display: flex;
  align-items: center;
}

ul {
  margin: 2px;
  padding: 2px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 16px;
}
a {
  font-weight: 900;
  color: white;
  text-decoration: none;
}
.intro {
  background-color: #1f2937;
  padding: 2px 64px;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.placeholder {
  display: flex;
  padding: 2px 64px;
}
img {
  object-fit: cover;
  object-position: center;
  height: 300px;
  width: 400px;
}
.album-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.studioalbums {
  margin-top: 16px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.albums {
  display: flex;
  margin: 16px;
  padding: 2px 16px;
  justify-content: center;
  align-items: center;
}
.text {
  width: 200px;
  margin: 2px 16px;
  padding: 8px;
  gap: 24px;
}
.album {
  color: #1f2937;
  display: flex;
  flex-direction: column;
  margin: 2px 16px;
  justify-content: center;
  align-items: center;
}
.testimonial {
  display: flex;
  flex: 1;
  background-color: #e5e7eb;
  color: black;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.blue {
  display: flex;
  flex: 1 0 0;
  background-color: #3882f6;
  height: 200px;
  margin: 100px;
  padding: 2px 20px;
  border-radius: 8px;
  justify-content: space-around;
}
.signupnow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  margin: 2px 100px;
  font-size: 28px;
  font-weight: 900;
}
h4 {
  font-size: 14px;
  margin: 2px 96px;
}
.buttonsignup {
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.signup {
  height: 50px;
  width: 100px;
  font-weight: 900;
  font-size: larger;
  border-radius: 8px;
  background: royalblue;
  border: 2px solid white;
  color: white;
}
.myimg {
  border-radius: 10%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.text {
  color: black;
  text-align: center;
}
button.buttonsignup {
  height: 50px;
  width: 100px;
  font-weight: 900;
  font-size: larger;
  border-radius: 8px;
  background: royalblue;
  border: 2px solid white;
  color: white;
  align-self: center;
}
.footer {
  padding: 8px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}
